<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>     
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <div class="title">ACCEDER</div>
        <p id="text-user-password">Ingrese su nombre de usuario y su contraseña:</p>
        <div id="div-user">
            <label form = "user"><i class="fa-solid fa-user"></i></label>
            <input type="text" id="log.user" placeholder="Usuario"
                class="submit clickable">
        </div>
        <div id="div-password">
            <label form = "clave"><i class="fa-solid fa-lock"></i></label>
            <input type="password" id="log.password" placeholder="Contraseña">
        </div>
        <div id="remember-user-password">
            <p>Recordar usuario y clave  <input id="electro" type="checkbox" name="remember-user-password"
        value="electro" wfd="id9"></p>
        </div>
        <div>
            <p><a id="forgot-password" href="/user/restablecerClave">¿Olvidaste tu contraseña?</a></p>
        </div>
        <div>
            <button>INGRESAR</button>
        </div>
        <div>
            <p><a id="create-account" href="/user/registro">¿No tienes una cuenta? ¡Unete a nosotros!</a></p>
        </div>
    </main>
    <!FOOTER/!>
    <%- include('../partials/footer')%>
</body>
</html>



