<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Registro</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <section class="formRegister">
            <h2>Unete a nosotros!</h2>
            <form method="POST" action="/user/register" enctype="multipart/form-data">
                <div class="controls">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="text" name="nombre" id="name" placeholder="Nombre" required>
                    <input type="text" name="apellido" id="last-name" placeholder="Apellido" required>
                    <input type="date" name="edad" id="age" max="2005-09-01">
                </div>
                <div class="user-profile">
                    <p>Perfil de usuario:</p>
                    <input type="radio" id="buyer" name="profile" value="buyer">
                    <label for="buyer">Cliente</label>
                    <input type="radio" id="seller" name="profile" value="seller">
                    <label for="seller">Administrador</label>
                </div>
                <div class="img-user">
                    <p>Foto de perfil:</p>
                    <label for="img-profile"><i class="fa-solid fa-upload"></i>Upload file</label>
                    <input type="file" name="foto-usuario" id="img-profile">
                </div>
                <div class="controls">
                    <input type="password" name="contraseña" id="password" placeholder="Contraseña" required>
                    <input type="password" name="confContraseña" id="confirm-password" placeholder="Confirmar contraseña" required>
                </div>
                <p>¿Ya tienes una cuenta?<a class="login" href="/user/login">Iniciar sesión.</a></p>
                <div class="buttons">
                    <button type="submit" value="Registrar">
                        Continuar
                    </button>
                    <p class="separador">o</p>
                    <button class="Google">
                        <i class="fa-brands fa-google"></i>
                        Continuar con Google
                    </button>
                </div>
            </form>
        </section>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>
