<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Restablecer Clave</title>
    <link rel="stylesheet" href="/css/restablecerClave.css"">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head> 
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <div class="title">RESTABLECER CONTRASEÑA</div>
        <div class="texto">Introduce tu nombre de usuario de Capibeers o la dirección de correo que usaste en el registro. Te enviaremos un correo con tu nombre de usuario y un código numérico para que puedas restablecer tu contraseña.</div>
        <p id="ingresar">Dirección de correo electrónico o nombre de usuario:</p> 
        <div>
            <label form = "correo"></label>
            <input type="text"="correo">
        </div>
        <button>ENVIAR</button>
        <p id="ingresar">Ingrese código:</p>
        <div> <label form="codigo"></label>
            <input type="text"="codigo"></div>
        <button>ENVIAR</button>
        <p id="ingresar">Ingrese nueva contraseña:</p>
        <div><label form = "nuevaclave"></label>
            <input type="password"="nuevaclave"></div>
        <button>CONFIRMAR</button>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>