<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/restablecer-clave.css"> <!ESTE ES EL CSS ORIGINAL!>
    <title>Capebeers - Restablecer Clave</title>
</head> 
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <div class="title">RESTABLECER CONTRASEÑA</div>
        <div class="texto">Introduce tu nombre de usuario de Capibeers o la dirección de correo que usaste en el registro. Te enviaremos un correo con tu nombre de usuario y un código numérico para que puedas restablecer tu contraseña.</div>
        <h5>Dirección de correo electrónico o nombre de usuario:</h5> 
        <div>
            <label form = "correo"></label>
            <input type="text"="correo">
        </div>
        <button>ENVIAR</button>
        <h5>Ingrese código:</h5>
        <div> <label form="codigo"></label>
            <input type="text"="codigo"></div>
        <button>ENVIAR</button>
        <h5>Ingrese nueva contraseña:</h5>
        <div><label form = "nuevaclave"></label>
            <input type="password"="nuevaclave"></div>
        <button>CONFIRMAR</button>
    </main>

    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>