<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Restablecer Clave</title>
    <link rel="stylesheet" href="/css/restablecer-clave.css"">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head> 
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <form action="/home" method="GET">
            <h2 class="title">RESTABLECER CONTRASEÑA</h2>
            <div class="texto">Introduce la dirección de correo electrónico que usaste en el registro. Te enviaremos un mail con un código numérico para que puedas restablecer tu contraseña.</div>
            <p id="ingresar">Ingrese dirección de correo electrónico:</p> 
            <div>
                <label form = "correo"></label>
                <input type="email"required >
            </div>
            <!--<button>ENVIAR</button>!-->
            <p id="ingresar">Ingrese código:</p>
            <div>
                <label form="codigo"></label>
                <input type="text" required></div>
            <!--<button>ENVIAR</button>!-->
            <p id="ingresar">Ingrese nueva contraseña:</p>
            <div><label form = "nuevaClave"></label>
                <input type="password" required></div>
            <button  type="submit">CONFIRMAR</button>
        </form>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>