<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Restablecer Contraseña</title>
    <link rel="stylesheet" href="/css/user.css"">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head> 
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <h2 class="titlePag">CAMBIAR CONTRASEÑA</h2>
        <form action="/home" method="GET">
            <div class="contenedorUser">
                <div class="divUser" style="margin-bottom: 15px;">
                    <p class="textResPasword">Ingrese correo electrónico con el que se registro:</p> 
                    <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
                </div>
                <div class="divUser" style="margin-bottom: 15px;">
                    <p class="textResPasword">Ingrese nueva contraseña:</p>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
                <div>
                    <button class= "buttonUser" type="submit" value="RestorePassword">
                        CONFIRMAR
                    </button>
                </div>
                <div>
                    <p><a class="login" href="/user/login">¿Ya tenés cuenta? Iniciá sesión.</a></p>
                </div>
                <div>
                    <p><a class="register" href="/user/register">¡Create una cuenta!</a></p>
                </div>
            </div>
        </form>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>