<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Capibeers - User</title>
    </head> 
<body>
    <!HEADER/!>
    <%- include('../partials/header')%>
    <main>
        <p>INGRESEN CODIGO AQUIIIII, ESTO ES PERFIL USUARIO!!!</p>
    </main>
    <!FOOTER/!>
    <%- include('../partials/footer')%>
</body>
</html>