<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - User</title>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <p>ESTO ES PERFIL DE USUARIO, CODIGO EN PROCESO</p>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>