<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>CAPIBEERS</title>
</head>
<body>
    <!HEADER/!>
    <%- include('./partials/header')%> 
    <main>
        <!--opciones -->
        <div class="opciones">
            <div class="opciones-izquierda">
                <ul>
                    <li>
                        <a class="Contacto" href="#">CONTACTO</a>
                        <ul>
                            <li><a class="submenu1" href="#">TELEFONO</a></li>
                            <li><a class="submenu2" href="#">DIRECCION</a></li>
                            <li><a class="submenu3" href="#">HORARIOS</a></li>
                        </ul>
                    </li>
                    <li><a class="Productos" href="#">PRODUCTOS</a>
                        <ul>
                            <li><a href="#">CERVEZAS EN LATAS</a>
                                <ul>
                                    <li><a class="submenu4" href="#">CLASICA</a></li>
                                    <li><a class="submenu5" href="#">STOUT</a></li>
                                    <li><a class="submenu6" href="#">BOCK</a></li>
                                </ul>
                            </li>
                            <li><a href="#">CERVEZAS EN BOTELLA</a>
                                <ul>
                                    <li><a class="submenu4" href="#">CLASICA</a></li>
                                    <li><a class="submenu5" href="#">STOUT</a></li>
                                    <li><a class="submenu6" href="#">BOCK</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="Ofertas" href="#">OFERTAS</a></li>
                </ul>
            </div>
            <div class="opciones-derecha">

                <ul>
                    <li><a class="Indumentaria" href="#">ACCESORIOS</a>
                        <ul>
                            <li><a href="#">GORRAS</a></li>
                            <li><a href="#">BOLSAS</a></li>
                            <li><a href="#">VASOS</a></li>
                </ul>
                </li>
                <li><a class="Accesorios" href="#">INDUMENTARIA</a>
                    <ul>
                        <li><a href="#">SUPERIOR</a>
                            <ul>
                                <li><a href="#">REMERAS</a></li>
                                <li><a href="#">CAMPERAS</a></li>
                                <li><a href="#">BUZOS</a></li>
                            </ul>
                        </li>
                        <li><a href="#">INFERIOR</a></li>
                    </ul>
                </li>
                <li><a class="Preguntas" href="#">PREGUNTAS</a></li>
                </ul>
            </div>
        </div>

        <div class="Cerveza-mas-vendida">
            <h2>CERVEZA MAS VENDIDA</h2>
        </div>


        <!--Cervezas mas vendidas-->

        <div class="Descripcion">
            <hr class="Linea-alta">
            <div class="contenido-seccion">
                <div class="fila">
                    <div class="col izquierda">
                        <div class="centrar-izquierda">
                            <div class="item izq">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus
                                    eligendi
                                    doloremque nulla illum iste neque molestiae corrupti possimus illo, ut vero doloribus
                                    officia ex quasi nemo cum? Quidem, veritatis?</p>
                            </div>
                            <div class="item izq">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectori">
                                    <div class="circuloi"></div>
                                </div>
                            </div>
                            <div class="item izq">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod molestias
                                    architecto
                                    mollitia deserunt doloribus ducimus quasi obcaecati maxime nihil adipisci, accusamus
                                    dolores
                                    itaque impedit nesciunt omnis voluptates quisquam temporibus!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col derecha">
                        <div class="centrar-derecha">
                            <div class="item der">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>
                            <div class="item der">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, saepe vero suscipit
                                    ipsa
                                    temporibus quas quam earum velit? Ipsum quis accusamus modi recusandae tenetur. Incidunt
                                    ad
                                    itaque ipsa commodi fugiat.</p>
                            </div>
                            <div class="item der">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="Linea-baja">
        </div>
        <!--Carrusel cervezas-->
        <h1 class="Nuestros-productos">NUESTROS PRODUCTOS</h1>
        <div class="Carrusel">

            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
        </div>
    </main>
    <!FOOTER/!>
    <%- include('./partials/footer')%>
</body>
</html>
