<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPIBEERS</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
    <%- include('./partials/header')%> 
    <main>
        

        <div class="Cerveza-mas-vendida">
            <h2>CERVEZA MAS VENDIDA</h2>
        </div>


        <!--Cervezas mas vendidas-->

        <div class="Descripcion">
            <hr class="Linea-alta">
            <div class="contenido-seccion">
                <div class="fila">
                    <div class="col izquierda">
                        <div class="centrar-izquierda">
                            <div class="item izq">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus
                                    eligendi
                                    doloremque nulla illum iste neque molestiae corrupti possimus illo, ut vero doloribus
                                    officia ex quasi nemo cum? Quidem, veritatis?</p>
                            </div>
                            <div class="item izq">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectori">
                                    <div class="circuloi"></div>
                                </div>
                            </div>
                            <div class="item izq">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod molestias
                                    architecto
                                    mollitia deserunt doloribus ducimus quasi obcaecati maxime nihil adipisci, accusamus
                                    dolores
                                    itaque impedit nesciunt omnis voluptates quisquam temporibus!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col derecha">
                        <div class="centrar-derecha">
                            <div class="item der">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>
                            <div class="item der">
                                <span class="nombre-cerveza">Nombre de la cerveza</span>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, saepe vero suscipit
                                    ipsa
                                    temporibus quas quam earum velit? Ipsum quis accusamus modi recusandae tenetur. Incidunt
                                    ad
                                    itaque ipsa commodi fugiat.</p>
                            </div>
                            <div class="item der">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="Linea-baja">
        </div>
        <!--Carrusel cervezas-->
        <h1 class="Nuestros-productos">NUESTROS PRODUCTOS</h1>
        <div class="Carrusel">

            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">

                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
        </div>
    </main>
    <!FOOTER/!>
    <%- include('./partials/footer')%>
</body>
</html>
