<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers Cerveza</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de letra-->
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /> <!--Iconos-->
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header')%> 
    <main>
        <div class="Cerveza-Bienvenida">
            <h2>SOMOS CERVEZA, SOMOS CAPIBEERS</h2>
        </div>
        <!--Cervezas mas vendidas-->
        <div class="contenidoTotal">
            <hr class="Linea-alta">
            <div class="contenidoUno">
                <div class="contenidoImgUno">
                    <img class="imgUno" src="/img/banners/home-banner2.jpg">
                </div>
                <div class="contenidoTextoUno">
                    <h3>LO QUE BUSCAS, LO ENCONTRAS</h3>
                    <p> Somos tu destino número uno para encontrar una amplia 
                        variedad de cervezas de distintas marcas para satisfacer 
                        todos los gustos y necesidades de tu negocio.</p>
                </div>
            </div>
            <div class="contenidoDos">
                <div class="contenidoTextoDos">
                    <h3>LA MAYOR CALIDAD PARA VOS</h3>
                    <p> Trabajamos directamente con productores y 
                        distribuidores confiables para asegurarnos de que 
                        cada lote de cerveza que llegue a tus manos sea de la 
                        más alta calidad.</p>
                </div>
                <div class="contenidoImgDos">
                    <img class="imgDos" src="/img/banners/home-banner1.jpg">
                </div>
                
            </div>
            <hr class="Linea-baja">
        </div>
        <!--Carrusel cervezas !-->
        <h2 class="Nuestros-productos">Basado en tu última visita</h2>
        <div class="carrusel">
            <% for( let i = 0; i< productsList.length; i++) { %>
                <%- include('./products/product-carrusel',{product:productsList[i]})%>
            <% } %>
        </div>
    </main>
    <!--FOOTER/-->
    <%- include('./partials/footer')%>
</body>
</html>
