<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerveza Capibeers</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de letra-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /> <!--Iconos-->
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header')%> 
    <main>
        <div class="Cerveza-mas-vendida">
            <h2>SOMOS CERVEZA, SOMOS CAPIBEERS</h2>
        </div>
        <!--Cervezas mas vendidas-->
        <div class="Descripcion">
            <hr class="Linea-alta">
            <div class="contenido-seccion">
                <div class="fila">
                    <div class="col izquierda">
                        <div class="centrar-izquierda">
                            <div class="item izq">
                                <span class="title-text">
                                    <H3>NOSOTROS TE ELEGIMOS</H3></span>
                                <p>Desde nuestra fundación hasta el día de hoy nosotros te elegimos 
                                    para un día de calorcito en el balcón, en la playa, en el rio,
                                    con amigos, familia o solx. Siempre estamos 🏖️🌞🌧️</p>
                            </div>
                            <div class="item izq .space-banner">
                                <img src="/img/home-banner2.jpg" class="foto-banner foto-banner-left">
                                <div class="conectori">
                                    <div class="circuloi"></div>
                                </div>
                            </div>
                            <!--<div class="item izq">
                                <span class="nombre-cerveza">
                                    <h3>COMBINACION UNICA</h3></span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod molestias
                                    architecto
                                    mollitia deserunt doloribus ducimus quasi obcaecati maxime nihil adipisci, accusamus
                                    dolores
                                    itaque impedit nesciunt omnis voluptates quisquam temporibus!
                                </p>
                            </div>-->
                        </div>
                    </div>
                    <div class="col derecha">
                        <div class="centrar-derecha">
                            <div class="item der">
                                <img src="/img/home-banner1.jpg" class="foto-banner foto-banner-rigth ">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>
                            <div class="item der">
                                <span class="title-text">
                                    <h3>COMBINACION UNICA</h3></span>
                                <p>Nuestros productores de cebada, 
                                    nuestros ingredientes, nuestros maestros cerveceros y todo 
                                    un equipo de profesionales que forman esta familia, dedicados 
                                    a entregar la mejor cerveza, hecha con orgullo y pasión para vos ❤️</p>
                            </div>
                            <!--<div class="item der">
                                <img src="/img/Cervezaa.png" class="foto-cerveza">
                                <div class="conectord">
                                    <div class="circulod"></div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <hr class="Linea-baja">
        </div>
        <!--Carrusel cervezas
        ESTO TIENE QUE SER INTERACTIVO Y LLEVAR A LA VISTA DE PRODUCTO SEGUN EL DI DEL PRODUCT :(-->
        <h2 class="Nuestros-productos">NUESTROS PRODUCTOS</h2>
        <div class="Carrusel">
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
            <div class="elementos">
                <img src="/img/Cervezaa.png" alt="" class="cerveza-carrusel">
                <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
                <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
            </div>
        </div>
    </main>
    <!--FOOTER/-->
    <%- include('./partials/footer')%>
</body>
</html>
