<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="/img/banners/favicon2.png"> <!--Icono favicon-->
    <title>Capibeers - ¿Sos mayor? </title>
</head>
<body id="fondo">
    <div id="conteiner">
        <div>
            <p id="title">¿Sos mayor de edad?</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=1yQjUjsUzKQ"><button class="No">NO</button></a>
            <a href="/home"><button class="Si">SI</button></a>
        </div>
        <div id="text-end">
            <p>Debe tener edad legal para beber e ingresar a este sitio.
            <br>Su información no será almacenada.
            <br>Por favor beber responsablemente.
        </div>
    </div>
</body>
</html>