<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')%>
        <title>Capebeers - Edad</title>
    </head> 
<body>
    <!HEADER/!>
    <%- include('./partials/header')%>
    <main>
        <p>INGRESEN CODIGO AQUIIIII, ESTO ES INGRESO POR EDAD!!!/p>
    </main>
    <!FOOTER/!>
    <%- include('./partials/footer')%>
</body>
</html>