<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de letra-->
    <title>Capibeers - ¿Sos mayor? </title>
</head>
<body id="fondo">
    <!--<form action="./home" method="GET"> Hay que aplicar metodo FORM para que todo el botnon sea util y no solo la plabra como link!-->
    <div id="conteiner">
        <div>
            <p id="title">¿Sos mayor de edad?</p>
        </div>
        <div>
            <button class="No"><a href="https://www.youtube.com/watch?v=1yQjUjsUzKQ">NO</a></button>
            <button class="Si"><a href="/home">SI</a></button>
        </div>
        <div id="text-end">
            <p>Debe tener edad legal para beber para ingresar a este sitio.
            <br>Su información no será almacenada.
            <br>Por favor beber responsablemente.
        </div>
    </div>
</body>
</html>
