<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/controlEdad.css">
    <title>Pregunta</title>
</head>
<body>
    <h1>¿Eres mayor de edad?</h1>
    <button class="Si"><a href="/home">SI</a></button>
    <button class="No"><a href="https://www.youtube.com/watch?v=1yQjUjsUzKQ">NO</a></button>
</body>
</html>
