<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPIBEERS</title>
    <link rel="stylesheet" href="../public/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">

            <ul class="main-menu">
                <li><a class="redes" href="https://www.instagram.com/capibeers"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li><a class="redes" href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li> <a class="redes" href="https://www.facebook.com/profile.php?id=100095248490157"><i
                            class="fa-brands fa-facebook"></i></a></li>
                <li><a class="redes" href="https://www.instagram.com/capibeers"><i class="fa-brands fa-spotify"></i></a>
                </li>
            </ul>

            <ul class="right-menu">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li>
                    <a href="/aplicacion/views/login.html">
                        <i class="fa-regular fa-circle-user"></i>
                    </a>
                </li>
                <li>
                    <a href="/aplicacion/views/carrito.html">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="logo">
        <img src="../public/img/logo.png" alt="">
    </div>
    <!--opciones -->
    <div class="opciones">
        <div class="opciones-izquierda">
            <ul>
                <li>
                    <a class="Contacto" href="#">CONTACTO</a>
                    <ul>
                        <li><a class="submenu1" href="#">TELEFONO</a></li>
                        <li><a class="submenu2" href="#">DIRECCION</a></li>
                        <li><a class="submenu3" href="#">HORARIOS</a></li>
                    </ul>
                </li>
                <li><a class="Productos" href="#">PRODRUCTOS</a>
                    <ul>
                        <li><a href="#">CERVEZAS</a>
                            <ul>
                                <li><a class="submenu4" href="#">CLASICA</a></li>
                                <li><a class="submenu5" href="#">STOUT</a></li>
                                <li><a class="submenu6" href="#">BOCK</a></li>
                            </ul>
                        </li>
                        <li><a href="#">GASEOSAS</a></li>
                        <li><a href="#">COMIDA</a></li>
                    </ul>
                </li>
                <li><a class="Ofertas" href="#">OFERTAS</a></li>
            </ul>
        </div>
        <div class="opciones-derecha">

            <ul>
                <li><a class="Indumentaria" href="#">ACCESORIOS</a>
                    <ul>
                        <li><a href="#">GORRAS</a></li>
                        <li><a href="#">RELOJES</a></li>
                        <li><a href="#">CADENAS</a></li>
            </ul>
            </li>
            <li><a class="Accesorios" href="#">INDUMENTARIA</a>
                <ul>
                    <li><a href="#">SUPERIOR</a>
                        <ul>
                            <li><a href="#">REMERAS</a></li>
                            <li><a href="#">CAMPERAS</a></li>
                            <li><a href="#">BUZOS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INFERIOR</a></li>
                    <li><a href="#">ZAPATILLAS</a></li>
                </ul>
            </li>
            <li><a class="Preguntas" href="#">PREGUNTAS</a></li>
            </ul>
        </div>
    </div>

    <div class="Cerveza-mas-vendida">
        <h2>CERVEZA MAS VENDIDA</h2>
    </div>


    <!--Cervezas mas vendidas-->

    <div class="Descripcion">
        <hr class="Linea-alta">
        <div class="contenido-seccion">
            <div class="fila">
                <div class="col izquierda">
                    <div class="centrar-izquierda">
                        <div class="item izq">
                            <span class="nombre-cerveza">Nombre de la cerveza</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam necessitatibus
                                eligendi
                                doloremque nulla illum iste neque molestiae corrupti possimus illo, ut vero doloribus
                                officia ex quasi nemo cum? Quidem, veritatis?</p>
                        </div>
                        <div class="item izq">
                            <img src="/aplicacion/public/img/Cervezaa.png" class="foto-cerveza">
                            <div class="conectori">
                                <div class="circuloi"></div>
                            </div>
                        </div>
                        <div class="item izq">
                            <span class="nombre-cerveza">Nombre de la cerveza</span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod molestias
                                architecto
                                mollitia deserunt doloribus ducimus quasi obcaecati maxime nihil adipisci, accusamus
                                dolores
                                itaque impedit nesciunt omnis voluptates quisquam temporibus!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col derecha">
                    <div class="centrar-derecha">
                        <div class="item der">
                            <img src="/aplicacion/public/img/Cervezaa.png" class="foto-cerveza">
                            <div class="conectord">
                                <div class="circulod"></div>
                            </div>
                        </div>
                        <div class="item der">
                            <span class="nombre-cerveza">Nombre de la cerveza</span>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, saepe vero suscipit
                                ipsa
                                temporibus quas quam earum velit? Ipsum quis accusamus modi recusandae tenetur. Incidunt
                                ad
                                itaque ipsa commodi fugiat.</p>
                        </div>
                        <div class="item der">
                            <img src="/aplicacion/public/img/Cervezaa.png" class="foto-cerveza">
                            <div class="conectord">
                                <div class="circulod"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="Linea-baja">
    </div>
    <!--Carrusel cervezas-->
    <h1 class="Nuestros-productos">NUESTROS PRODUCTOS</h1>
    <div class="Carrusel">

        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>
        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>
        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>
        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>
        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>
        <div class="elementos">
            <img src="/aplicacion/public/img/Cervezaa.png" alt="" class="cerveza-carrusel">

            <h3 class="nombre-carrusel">NOMBRE DE LA CERVEZA</h3>
            <p class="Datos-cerveza">"Descipcion de la cerveza"</p>
        </div>


    </div>
    <footer class="footer">
        <div class="contenedor">
            <div class="footer-row">
                <div class="footerlink">
                    <h4>COMPANIA</h4>
                    <ul>
                        <li><a href="">NOSOTROS</a></li>
                        <li><a href="">SERVICIOS</a></li>
                        <li><a href="">POLITICA DE PRIVACIDAD</a></li>
                    </ul>
                </div>
                <div class="footerlink">
                    <h4>AYUDA</h4>
                    <ul>
                        <li><a href="">PREGUNTAS</a></li>
                        <li><a href="">COMPRAS</a></li>
                        <li><a href="">ENVIOS</a></li>
                        <li><a href="">PAGOS</a></li>
                    </ul>
                </div>
                <div class="footerlink">
                    <h4>TIENDA</h4>
                    <ul>
                        <li><a href="">BEBIDAS</a></li>
                        <li><a href="">INDUMENTARIA</a></li>
                        <li><a href="">ACCESORIOS</a></li>
                    </ul>
                </div>
                <div class="footerlink">
                    <h4>ENCONTRANOS</h4>
                    <iframe class="mapa"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.094488489656!2d-56.016875018253735!3d-28.052139414069902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945669e6ddfc87a7%3A0xa59f85bc7487fd7a!2sCapibara%20Beer%20shop!5e0!3m2!1ses!2sar!4v1692422611021!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footerlink">
                    <h4>SIGUENOS</h4>
                    <div class="social-links">
                        <a class="redes" href="https://www.instagram.com/capibeers"><i
                                class="fa-brands fa-instagram"></i></a></li>
                        <a href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100095248490157"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://open.spotify.com/user/31r6oywah4insuhfwfnr7junotua"><i
                                class="fa-brands fa-spotify"></i></a>
                    </div>
                </div>
            </div>
            <p id="copyright">©2023 Capibeers Cervezas</p>
    </footer>


</body>

</html>
