<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    

</head>
<body>

    <div>
        <a href="https://www.instagram.com/capibeers"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100095248490157"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://open.spotify.com/user/31r6oywah4insuhfwfnr7junotua"><i class="fa-brands fa-spotify"></i></a>

        <img src="../public/img/logo.png" style="width: 500px;" alt="">

        <input type="text"> 
        <button><i class="fa-solid fa-magnifying-glass"></i></button>

    </div>

    <header>
        <nav>
            <ul>
                <a href="/sobreNosotros">SOBRE NOSOTROS</a>
                <a href="/variedades">VARIEDADES</a>
                <a href="/">INICIO</a>
                <a href="/accesorios">ACCESORIOS</a>
                <a href="/indumentaria">INDUMENTARIA</a>
            </ul>
        </nav>
    </header>

    <div class="contenedor">

    <img src="../public/img/carpinbeer.png" alt="FotoDeMuestra">

    <h2>BelgianCarpincho</h2>

    <h3>2€</h3>

    </div>

        
    
    

</body>
</html>
