<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Acceder</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/"><img height="100px" src="/img/logo.png"alt="Logo"></a>
                <a href="/sobreNosotros">SOBRE NOSOTROS</a>
                <a href="/variedades">VARIEDADES</a>
                <a href="/">INICIO</a>
                <a href="/accesorios">ACCESORIOS</a>
                <a href="/indumentaria">INDUMENTARIA</a>
            </ul>
            <ul>
                <label form = "buscador">
                    <input type="text" ="buscador"><i class="fa-solid fa-magnifying-glass"></i>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="title">ACCEDER</div>
        <div>
            <label form = "user"><i class="fa-solid fa-user"></i></label>
            <input type="text"="user">
        </div>
        <div>
            <label form = "clave"><i class="fa-solid fa-lock"></i></label>
            <input type="password"="clave">
        </div>
        <p class="reco-olv">Recordar usuario y clave  <input id="electro" type="checkbox" name="recordar_user_clave"
        value="electro" wfd="id9"></p>
        <h5><a href="/restablecer-clave">¿Olvidaste tu contraseña?</a></h5>
        <button>INGRESAR</button>
        <h5><a href="/registro">¿No tienes una cuenta? ¡Unete a nosotros!</a></h5>
    </main>

    <footer>
        <p >¡Seguinos en nuestras redes sociales!</p>
        <article>
            <a href="https://www.instagram.com/capibeers"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100095248490157"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://open.spotify.com/user/31r6oywah4insuhfwfnr7junotua"><i class="fa-brands fa-spotify"></i></a>
        </article>
        <p>¿Necesitas atención personalizada? Contactanos por Gmail <i class="fa-solid fa-envelope"> </i></a>capibeers@gmail.com</p>      
        <p id="copyright">©2023 Capibeers Cervezas</p>
    </footer>
</body>
</html>