<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="/css/create.css">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>Capibeers - Creacion de productos</title>
</head>
<body>
    <!HEADER/!>
        <%- include('../partials/header')%>
    
    <main>
        <form class="form-create" action="/products/crear" method="POST" enctype="multipart/form-data">
            <h2>Crear Producto</h2>
            <p class="tex_img">Imagen del Producto:</p>
            <div class="img-product">
                <input type="file" name="image" id="product" >
                <label for="product">
                    <i class="material-icons">add_photo_alternate</i>
                    Choose a Photo
                </label>
            </div>
            <div class="newProduct">
                <label for="name-product">Nombre:</label>
                <input type="text" name="name" id="name-product" placeholder="Nombre del Producto" required>
                <label for="price">Precio:</label>
                <input type="number" name="price" id="price" placeholder="Precio" required>
            </div>
            <div class="description">
                <label for="description">Descripción:</label>
                <textarea  name="description" rows="4" cols="50" required></textarea><br>
            </div>
            <h3>Detalles</h3>
                <div class="details">
                    <label for="brand">Marca</label>
                    <input type="text" name="mark" id="brand" placeholder="Heineken" required>
                    <label for="container">Tipo de envase</label>
                    <input type="text" name="packing" id="container" placeholder="Lata" required>
                    <label for="volume">Volumen de la unidad</label>
                    <input type="number" name="volume" id="volume" placeholder="330 ml" required>
                    <label for="ingredients">Ingredientes</label>
                    <input type="text" name="ingredients" id="ingredients" placeholder="Uva">
                    <label for="style">Estilo de cerveza</label>
                    <input type="text" name="style" id="style" placeholder="Rubia">
                    <label for="origin">Origen</label>
                    <input type="text" name="origin" id="origin" placeholder="Argentina">
                </div>
                <section class="tacc">
                    <p>Sin TACC</p>
                    <div  class="radio-group">
                        <label class="radio">
                            <input type="radio" name="gluten" id="sin-tacc" value="Si">
                            Sí
                            <span></span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="gluten" id="sin-tacc-no" value="No">
                            No
                            <span></span>
                        </label>
                    </div>
                </section>
                <section class="craft-beer">
                    <p>Es cerveza artesanal</p>
                    <div class="radio-group">
                        <label class="radio">
                            <input type="radio" name="artisanal" id="artesanal" value="Si">
                            Sí
                            <span></span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="artisanal" id="artesanal-no" value="No">
                            No
                            <span></span>
                        </label>
                    </div>
                </section>
                <section class="alcohol-freebeer">
                    <p>Es cerveza sin alcohol</p>
                    <div class="radio-group">
                        <label class="radio">
                            <input type="radio" name="alcohol" id="alcohol-si" value="Si">
                            Sí
                            <span></span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="alcohol" id="alcohol-no" value="No">
                            No
                            <span></span>
                        </label>
                    </div>
                </section>
            <div class="buttons">
                <button type="reset">Borrar</button>
                <input type="submit" value="Guardar">
            </div>
        </form>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>
