<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Detalle Producto</title>
    <link rel="stylesheet" href="/css/detail-product.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <!HEADER/!>
    <%- include('../partials/header')%>
    <main>
    <div id="contenedor">
        <div id="txt">
            <h1>Belgian Carpincho</h1>
            <p>2 € </p>
            <div id="cart">
                <h2>Mi Carrito</h2> <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                <ul id="cart-items">
                    <li id="item">
                        <span>Producto 1</span>
                        <span>$2.00</span>
                    </li>
                    <li id="item">
                        <span>Producto 2</span>
                        <span>$2.00</span>
                    </li>
                </ul>
                <div id="cart-total">
                    Total: $4.00
            </div>
        </div>
        <div id="counter">0</div>
        <button id="incrementButton">Incrementar</button>
        <button id="decrementButton">Decrementar</button>
        <script>
            const counterElement = document.getElementById('counter');
            const incrementButton = document.getElementById('incrementButton');
            const decrementButton = document.getElementById('decrementButton');   
            let count = 0; 
            function updateCounter() {
                counterElement.textContent = count;
            }  
            incrementButton.addEventListener('click', () => {
                count++;
                updateCounter();
            }); 
            decrementButton.addEventListener('click', () => {
                if (count > 0) {
                    count--;
                    updateCounter();
                }
            });
            updateCounter();
        </script>
            </div>
            <div>
                <button type="button" id="agregar-carrito">Agregar al carrito</button>
            </div>
        <img id="image" src="/img/carpinbeer.png"alt="FotoDeMuestra">
        </div>
        <section id="productosrelacionados">
            <h1>Productos Relacionados</h1>
            <img src="/img/Cervezaa.png" height="250px" alt="FotoRelacionada1">
        </section>
    </main>
    <!FOOTER/!>
        <%- include('../partials/footer')%>
</body>
</html>
