<div class="item-carrusel">
    <img src="/img/products/<%=product.image %>" alt="" class="img-carrusel">
    <p class="name-carrusel"><%=product.name %> </p>
    <p class="price-carrusel"><%= "$" + product.price %></p>
    <p class="data-carrusel" style="color: #00a650;">LLega mañana</p>
    <!--Reemplazae el llega mañana por "envio rápido o algo por el estilo p/personalizar c/producto"-->
</div>