<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/aplicacion/public/css/products-list.css">
    <link href="https://db.onlinewebfonts.com/c/401b7744fffbc1cd21fc71a6c08182ee?family=Futura-Heavy" rel="stylesheet">

</head>
<body>

    <!HEADER/!>
        <%- include('../partials/header')%>

    <h1 class="titulo">Conocé nuestros productos!</h1>

    <div class="contenedor1">
            <img class="imagen1" src="/aplicacion/public/img/carpinbeer.png" alt="Carpinbeer">
            <div class="txt1">| Lata Clásica de Cerveza Carpinbeers</div>
            <div class="precio1">5$</div>
    </div>

    <div class="contenedor2">
        <img class="imagen2" src="/aplicacion/public/img/cerveza-basica.png" alt="Carpinbeer">
        <div class="txt2">| Carpinbeers Botella Clásica de 1 Litro</div>
        <div class="precio2">7$</div>
    </div>

    <div class="contenedor3">
        <img class="imagen3" src="/aplicacion/public/img/carpinbeer.png"  alt="Carpinbeer">
        <div class="txt3">| Lata Carpinbeers Edición Limitada</div>
        <div class="precio3">10$</div>
</div>

<!FOOTER/!>
<%- include('../partials/footer')%>

</body>
</html>