<div id="article">
    <img  height="350px" src="/img/products/<%=product.image %>" alt="cerveza-clasica">
    <div id="conteiner">
        <p id="price"><%= "$" + product.price %></p>
        <p id="name"><%=product.name %> </p>
    </div>
</div>
