<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers - Listado de Productos</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <!HEADER/!>
        <%- include('../partials/header')%>
    <main>
        <h1 id="title">Conocé nuestros productos!</h1>
            <div class="articles">
                <div id="article">
                    <img height="350px" src="/img/cerveza-basica.png" alt="cerveza-clasica">
                    <div id="conteiner">
                        <p id="price">$2.600</p>
                        <p id="name">Cerveza Clásica </p>
                        <p>Descripción corta del producto</p>
                    </div>
                </div>
                <div id="article">
                    <img id="lata" height="350px" src="/img/carpinbeer.png" alt="cerveza-lata">
                    <div id="conteiner">
                        <p id="price">$1.750</p>
                        <p id="name">Cerveza Negra </p>
                        <p>Descripción corta del producto</p>
                    </div>
                </div>
                <div id="article">
                    <img height="350px" src="/img/cerveza-basica.png" alt="cerveza-clasica">
                    <div id="conteiner">
                        <p id="price">$2.650</p>
                        <p id="name">Cerveza Rubia </p>
                        <p>Descripción corta del producto</p>
                    </div>
                </div>
                <div id="article">
                    <img id="lata" height="350px" src="/img/carpinbeer.png" alt="cerveza-lata">
                    <div id="conteiner">
                        <p id="price">$1.600</p>
                        <p id="name">Cerveza Roja </p>
                        <p>Descripción corta del producto</p>
                    </div>
                </artdivicle>
            </div>
    <!FOOTER/!>
    <%- include('../partials/footer')%>

</body>
</html>