<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capibeers Telefono</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Fuente de letra-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" /> <!--Iconos-->
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header')%> 
    un titulo de ayuda importante
    un correo y un posible asistente o bot estilo bot de empresas de whastapp
</body>
</html>