<footer class="footer">
    <div class="contenedor">
        <div class="footer-row">
            <div class="footerlink">
                <h4>COMPAÑIA</h4>
                <ul>
                    <li><a href="">NOSOTROS</a></li>
                    <li><a href="">SERVICIOS</a></li>
                    <li><a href="">POLITICA DE PRIVACIDAD</a></li>
                </ul>
            </div>
            <div class="footerlink">
                <h4>AYUDA</h4>
                <ul>
                    <li><a href="">PREGUNTAS</a></li>
                    <li><a href="">COMPRAS</a></li>
                    <li><a href="">ENVIOS</a></li>
                    <li><a href="">PAGOS</a></li>
                </ul>
            </div>
            <div class="footerlink">
                <h4>TIENDA</h4>
                <ul>
                    <li><a href="">BEBIDAS</a></li>
                    <li><a href="">INDUMENTARIA</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                </ul>
            </div>
            <div class="footerlink">
                <h4>ENCONTRANOS</h4>
                <iframe class="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.094488489656!2d-56.016875018253735!3d-28.052139414069902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945669e6ddfc87a7%3A0xa59f85bc7487fd7a!2sCapibara%20Beer%20shop!5e0!3m2!1ses!2sar!4v1692422611021!5m2!1ses!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footerlink">
                <h4>SIGUENOS</h4>
                <div class="social-links">
                    <a class="redes" href="https://www.instagram.com/capibeers"><i
                            class="fa-brands fa-instagram"></i></a></li>
                    <a href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100095248490157"><i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="https://open.spotify.com/user/31r6oywah4insuhfwfnr7junotua"><i
                            class="fa-brands fa-spotify"></i></a>
                </div>
            </div>
        </div>
        <p id="copyright">©2023 Capibeers Cervezas</p>
</footer>