<header>
    <div class="container">
        <!-- Nav -->
        <nav class="main-nav"> 
            <!--Redes sociales-->
            <ul class="left-menu">
                <li><a class="iconsSup" href="https://www.instagram.com/capibeers"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a class="iconsSup" href="https://twitter.com/capibeers"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a class="iconsSup" href="https://www.facebook.com/profile.php?id=100095248490157"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a class="iconsSup" href="https://open.spotify.com/user/31r6oywah4insuhfwfnr7junotua?si=cbc1014e57454f80"><i class="fa-brands fa-spotify"></i></a></li>
            </ul>
            <!--Buscar, login, logout, carrito-->
            <ul class="right-menu">
                <li><input type="text" placeholder="Buscar" class="search-bar"></li>
                <li><a class="iconsSup" href="#"><i class="fas fa-search"></i></a></li>
                <li>
                    <% if( isUserLogger){ %>
                        <a class="iconsSup" href="/user/login"><i class="fa-regular fa-circle-user"></i></a>
                    <% } %>
                </li>
                <li>
                    <% if( !isUserLogger){ %>
                        <form action="/user/logout" method="POST">
                            <button type="submit">
                                <i class="fa-solid fa-right-from-bracket iconsSupButton"></i>
                            </button>
                        </form>
                    <% } %>
                </li>
                <li><a href="/products/carrito"><i class="fas fa-shopping-cart iconsSup"></i></a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a class="buttonHeaderProducts" href="/products">PRODUCTOS</a>
    </div>
    <div>
        <a class="logo" href="/home"><img class="logo" src="/img/banners/logo.png" alt=""></a>
    </div>
</header>
