/****************************************************HEADER**********************************************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ebebeb;
  font-size: 16px;
}

.iconsSup {
  color: #cba349;
  text-decoration: none;
  font-size: 22px;
}

.iconsSupButton{
  background-color: #333;
  color:#cba349;
  font-size: 22px;
  line-height: 0;
}

ul {
  list-style: none;
}

/* Nav */
.container {
  /*position: fixed; Por el momento no*/
  width: 100%;
  background-color: #222;
  height: 45px;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  display: flex;
  margin-right: 15px;
} 

.right-menu {
  margin-right: 40px;
  margin: 10px;
}

.left-menu {
  flex: 1;
  margin: 10px;
  margin-left: 40px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid white;
} 

.search-bar{
  border: 1;
}

.buttonHeaderProducts{
  background-color: #cba349;
  color: white;
  display: inline-block;
  text-align: center;
  width: 80%;
  left: 50%;
  padding: 10px;
  text-decoration: none;
  transform: translate(13%);
  border-radius: 5px;
  font-weight: bold;
}

.logo {
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/****************************************************BODY**********************************************/

.Linea-alta{
  color: #000;
  height: 5px;
  width: 80%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}

/****************************HOME*************************/
.Cerveza-mas-vendida{
  text-align: center;
  margin-top: 80px;
}
.centrar-izquierda{
  margin-top: 180px;
}
.centrar-derecha{
  margin-top: 30px;
}
.Descripcion{
  background-color: #ebebeb;
  ;
  padding: 50px 20px;
}
.Descripcion .fila{
  display: flex;
  justify-content: space-between;
  background: #ebebeb;

}
.Descripcion .fila .col{
  width: 49%;
  padding: 0 20px;
}

.Descripcion .fila .item{
  padding: 25px;
  margin-bottom: 200px;
  background-color: #333;
  position: relative;
  margin-top: 10px;
  border-radius: 3px;
}
.Descripcion .fila .item .title-text{
  display: block;
  margin-bottom: 10px;
  color: #DFBA69;
}
.Descripcion .fila .item p{
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.Descripcion .fila .izq{
  border-right: 2px solid #000000;
  margin-right: 20px;
}
.Descripcion .fila .der{
  border-left: 2px solid #000000;
  margin-left: 20px;
}
.Descripcion .fila .item .conectori{
  height: 2px;
  background-color:#000000;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.Descripcion .fila .item .conectori .circuloi{
  display: block;
  height: 10px;
  width: 10px;
  border-radius:50%;
  background-color: #000000;
  float: right;
  position: relative;
  bottom: 4px;
}
.Descripcion .fila .item .conectord{
  height: 2px;
  background-color: rgb(0, 0, 0);
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.Descripcion .fila .item .conectord .circulod{
  display: block;
  height: 10px;
  width: 10px;
  border-radius:50%;
  background-color: rgb(0, 0, 0);
  float: left;
  position: relative;
  bottom: 4px;
}
.foto-banner{
  /*margin-left: 10px;
  height: 250px;*/
  border-radius: 3px;
}

.foto-banner-left{
  margin-left: 12%;
}
.foto-banner-rigth{
margin-left: 30px;
}
.Linea-baja{
  color: #000;
  height: 5px;
  width: 80%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/***************************Carrousel de cervezas*****************************/

.Nuestros-productos{
  text-align: center;
  margin-bottom: 15px;
}
.carrusel{
  background-color: #ebebeb;
  display: flex;
  overflow-x: scroll;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.item-carrusel{
  margin: 10px;
  background-color: white;
}
.img-carrusel{ 
  max-width: 200px;
  max-height: 200px;
  background-color: white;
}
.name-carrusel{
  background-color: white;
}
.price-carrusel{
  color:#cba349;
  font-weight: bold;
  background-color: white
}
.data-cerveza{
  background-color: white;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}
/*********************************page not-found************************************/
.error{
  text-align: center;
  margin: 20px;
}
.text-error{
  margin: 15px;
  text-align: center;
  font-size: 18px;
}
.text-error-links{
  margin-left: 30%;
  font-size: 18px;
  margin-bottom: 15px;
  list-style: circle;
}
.error-links-conteiner li{
  margin: 18px;
}
.error-links{
  color: black;
  margin-left: 30%;
  font-size: 18px;
}

/*************************************************FOOTER**********************************************/

.footer{
  background-color:#222;
  padding: 20px;
}
.footer-row{
  display: flex;

}
.footerlink{
  width: 80%;
}
.footerlink h4 {
  font-size: 20px;
  color: #cba349;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: inline-block;
}
.footerlink ul li a{
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255); 
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.footerlink ul li a:hover{
  color: #FFFEDF;
  padding-left: 6px;
}
.social-links a{
  font-size: 15px;
  display: inline-block;
  min-height: 40px;
  width: 150px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  color: white;
  transition: all .2s ease;
}
.social-links a:hover{
  background-color: #cba349;
}
.contac-links a{
  font-size: 15px;
  display: inline-block;
  min-height: 40px;
  width: 250px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  color: white;
  transition: all .2s ease;
}
.contac-links a:hover{
  background-color: #cba349;
}
.mapa{
  width: 250px;
  height: 220px;
}
#copyright{
  text-align: center;
  color:white;
}
