/****************************************************HEADER**********************************************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ebebeb;
  font-size: 16px;
}

.iconsSup {
  color: #cba349;
  text-decoration: none;
  font-size: 22px;
}

.iconsSupButton{
  background-color: #333;
  color:#cba349;
  font-size: 22px;
  line-height: 0;
}

ul {
  list-style: none;
}
/* Nav */
.container {
  width: 100%;
  background-color: #222;
  height: 45px;
  position: fixed;
  z-index: 10;
}
.main-nav {
  display: flex;
}
.main-nav ul {
  display: flex;
}
.main-nav ul li {
  display: flex;
  margin-right: 15px;
} 
.right-menu {
  margin-right: 40px;
  margin: 10px;
}
.left-menu {
  flex: 1;
  margin: 10px;
  margin-left: 40px;
}
.search-bar{
  border: 1;
}
.buttonHeaderProducts{
  margin-top: 45px;
  background-color: #cba349;
  color: white;
  display: inline-block;
  text-align: center;
  width: 80%;
  left: 50%;
  padding: 10px;
  text-decoration: none;
  transform: translate(13%);
  border-radius: 5px;
  font-weight: bold;
}
.logo {
  height: 200px;
  display: flex;
  justify-content: center;
}

/***************************************HOME***************************************/

.Cerveza-Bienvenida{
  text-align: center;
  margin-top: 5px;
  color: black;
}
.Linea-alta{
  height: 5px;
  width: 80%;
  background-color: #434343;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.contenidoTotal{
  padding:20px 20px;
}
.contenidoImgUno img{
  width: 100%;
  height: auto;
}
.contenidoImgDos img{
  width: 100%;
  height: auto;
}
.contenidoUno{
  margin-bottom: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #434343;
}
.contenidoTextoUno p{
  text-align: justify;
}
.contenidoTextoDos p{
  text-align: justify;
}
.contenidoDos{
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #434343;
  margin-top: 40px;
}
.Linea-baja{
  height: 5px;
  width: 80%;
  background-color: #434343;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/********************************Carrousel de cervezas*****************************/

.Nuestros-productos{
  text-align: center;
  margin-bottom: 15px;
}
.carrusel{
  background-color: #ebebeb;
  display: flex;
  overflow-x: scroll;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.item-carrusel{
  margin: 10px;
  background-color: white;
}
.img-carrusel{ 
  max-width: 200px;
  max-height: 200px;
  background-color: white;
}
.name-carrusel{
  background-color: white;
}
.price-carrusel{
  color:#cba349;
  font-weight: bold;
  background-color: white
}
.data-cerveza{
  background-color: white;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}


/*************************************************FOOTER**********************************************/

.footer{
  background-color:#222;
  padding: 20px;
}
.footerlink{
  width: 80%;
}
.footerlink h4 {
  font-size: 20px;
  color: #cba349;
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 500;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.footerlink ul li a{
  font-size: 15px;
  color: rgb(255, 255, 255); 
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.footerlink ul li a:hover{
  color: #FFFEDF;
  padding-left: 6px;
}
.social-links a{
  display: inline-block;
  min-height: 40px;
  width: 150px;
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 5px;
  color: white;
  transition: all .2s ease;
}
.contac-links a{
  display: inline-block;
  min-height: 40px;
  width: 250px;
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 5px;
  color: white;
  transition: all .2s ease;
}

.mapa{
  width: 250px;
  height: 180px;
}
#copyright{
  text-align: center;
  color:white;
}

/*********************************page not-found************************************/
.error{
  text-align: center;
  margin: 20px;
}
.text-error{
  margin: 15px;
  text-align: center;
  font-size: 18px;
}
.text-error-links{
  margin-left: 30%;
  font-size: 18px;
  margin-bottom: 15px;
  list-style: circle;
}
.error-links-conteiner li{
  margin: 18px;
}
.error-links{
  color: black;
  margin-left: 30%;
  font-size: 18px;
}

/************************************************VISTA CELULAR Y PC*************************************/

@media (max-width:400px){
  .main-nav .left-menu{
    display: none;
  }
}
@media (min-width:401px){
  .main-nav ul li a:hover {
    border-bottom: 2px solid white;
  } 
  .footer-row{
    display: flex;
  }
  .footerlink h4 {
    margin-top: 0px;
  }
  .social-links a:hover{
    background-color: #cba349;
  }
  .contac-links a:hover{
    background-color: #cba349;
  }
  .contenidoUno{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .contenidoDos{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .imgUno{
    padding: 2%;
  }
  .imgDos{
    padding: 2%;
  }
  .contenidoTextoUno{
    margin-right: 80px;
    margin-top: 9%;
    padding: 40px;
    width: 40%;
    height: 20%;
    background-color: #434343;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .contenidoTextoDos{
    margin-left: 80px;
    margin-top: 9%;
    padding: 40px;
    width: 40%;
    height: 20%;
    background-color: #434343;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .contenidoImgUno{
    margin-left: 80px;
    background-color: #434343;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .contenidoImgDos{
    margin-right: 80px;
    background-color: #434343;
    border-radius: 5px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .contenidoImgUno img{
    width: 35em;
    height: auto;
  }
  .contenidoImgDos img{
    width: 35em;
    height: auto;
  }
}