/****************************************************HEADER**********************************************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ebebeb;;
  ;
  font-size: 16px;
}

a {
  color: #cba349;
  text-decoration: none;
  font-size: 22px;
}

ul {
  list-style: none;
}

/* Nav */
.container {
  /*position: fixed; Por el momento no*/
  width: 100%;
  background-color: #222;
  height: 45px;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  display: flex;
  margin-right: 15px;
} 

.right-menu {
  margin-right: 40px;
  margin: 10px;
}

.left-menu {
  flex: 1;
  margin: 10px;
  margin-left: 40px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid white;
} 

.search-bar{
  border: 1;
}

/*Nav products*/
.logo {
  height: 200px;
  display: flex;
  justify-content: center;
  padding: 18px;
}

/*opciones al lado del logo*/
.opciones{
  display: flex;
  justify-content: space-between;
  background:  #ebebeb;;
  ;
}

/*opciones lado izquierdo*/
.opciones-izquierda{
  margin-left: 350px;
}

.opciones-izquierda ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.opciones-izquierda ul a{
	display:block;
	color:#000000;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

.opciones-izquierda ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


.opciones-izquierda ul ul{
  transition: 0.4s;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#FFFEDF;
	padding:0
}

.opciones-izquierda ul ul li{
  float: none;
	width:100px
}

.opciones-izquierda ul ul a{
	line-height:120%;
	padding:10px 15px
}

.opciones-izquierda ul ul ul{
	top:0;
	left:100%
}

.opciones-izquierda ul li:hover > ul{
	display:block
}

/*Opciones lado Derecho*/

.opciones-derecha{
  margin-right:300px;
}

.opciones-derecha ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.opciones-derecha ul a{
	display:block;
	color:black;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

.opciones-derecha ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

.opciones-derecha ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#FFFEDF;
	padding:0
}

.opciones-derecha ul ul li{
	float:none;
	width:100px
}

.opciones-derecha ul ul a{
	line-height:120%;
	padding:10px 15px
}

.opciones-derecha ul ul ul{
	top:0;
	left:-100%
}

.opciones-derecha ul li:hover > ul{
	display:block
}
/*Diseño botones*/



/*Contacto*/
.Contacto:hover {
  background-color: #9e6730;
  padding: 24px 10px;
}
.Contacto {
  transition: 0.4s;
  color: black;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Contacto {
  margin-top: 40px;
  padding: 24px;
  text-align: center;

}
.Contacto{
  background: #DFBA69
}

/*Producto*/

.Productos:hover {
  background-color: #9e6730;
  padding: 24px 10px;
}
.Productos {
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Productos {
  margin-top: 20px;
  padding: 24px;
  text-align: center;
}
.Productos{
  background:  #DFBA69;
}

/*Ofertas*/

.Ofertas:hover {
  background-color:#9e6730;
  padding: 24px 10px;
}
.Ofertas {
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Ofertas {
  padding: 24px;
  text-align: center;
}
.Ofertas{
  background: #DFBA69;
}


/*Indumentaria*/
.Indumentaria:hover {
  background-color:  #9e6730;
  padding: 24px 10px;
}
.Indumentaria {
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Indumentaria {
  padding: 24px;
  text-align: center;
}
.Indumentaria{
  background:  #DFBA69;
}

/*Accesorios*/

.Accesorios:hover {
  background-color: #9e6730;
  padding: 24px 10px;
}
.Accesorios {
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Accesorios {
  margin-top: 20px;
  padding: 24px;
  text-align: center;

}
.Accesorios{
  background:  #DFBA69;
}


/*Preguntas*/

.Preguntas:hover {
  background-color: #9e6730;
  padding: 24px 10px;
}
.Preguntas {
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 3px;
}
.Preguntas {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
}
.Preguntas{
  background:  #DFBA69;
}


/*////////////////////////HASTA AQUI ES EL HEADER////////////////////////////////*/



/*Cerveza mas vendida*/

.Linea-alta{
  color: #000;
  height: 5px;
  width: 80%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
}
/*************************HOME*********************/
.Cerveza-mas-vendida{
  text-align: center;
  margin-top: 80px;
}
.centrar-izquierda{
  margin-top: 180px;
}
.centrar-derecha{
  margin-top: 30px;
}
.Descripcion{
  background-color: #ebebeb;
  ;
  padding: 50px 20px;
}
.Descripcion .fila{
  display: flex;
  justify-content: space-between;
  background: #ebebeb;

}
.Descripcion .fila .col{
  width: 49%;
  padding: 0 20px;
}

.Descripcion .fila .item{
  padding: 25px;
  margin-bottom: 200px;
  background-color: #333;
  position: relative;
  margin-top: 10px;
  border-radius: 3px;
}
.Descripcion .fila .item .title-text{
  display: block;
  margin-bottom: 10px;
  color: #DFBA69;
}
.Descripcion .fila .item p{
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.Descripcion .fila .izq{
  border-right: 2px solid #000000;
  margin-right: 20px;
}
.Descripcion .fila .der{
  border-left: 2px solid #000000;
  margin-left: 20px;
}
.Descripcion .fila .item .conectori{
  height: 2px;
  background-color:#000000;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.Descripcion .fila .item .conectori .circuloi{
  display: block;
  height: 10px;
  width: 10px;
  border-radius:50%;
  background-color: #000000;
  float: right;
  position: relative;
  bottom: 4px;
}
.Descripcion .fila .item .conectord{
  height: 2px;
  background-color: rgb(0, 0, 0);
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.Descripcion .fila .item .conectord .circulod{
  display: block;
  height: 10px;
  width: 10px;
  border-radius:50%;
  background-color: rgb(0, 0, 0);
  float: left;
  position: relative;
  bottom: 4px;
}
.foto-banner{
  /*margin-left: 10px;
  height: 250px;*/
  border-radius: 3px;
}

.foto-banner-left{
  margin-left: 12%;
}
.foto-banner-rigth{
margin-left: 30px;
}
.Linea-baja{
  color: #000;
  height: 5px;
  width: 80%;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
/***************************Carrousel de cervezas*****************************/

.Nuestros-productos{
  text-align: center;
  margin-bottom: 15px;
}
.carrusel{
  background-color: #ebebeb;
  display: flex;
  overflow-x: scroll;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.item-carrusel{
  margin: 10px;
  background-color: white;
}
.img-carrusel{ 
  max-width: 200px;
  max-height: 100%;
  background-color: white;
}
.price-carrusel{
  color:#cba349;
  font-weight: bold;
  background-color: white
}
.data-cerveza{
  background-color: white;
}
.name-carrusel{
  background-color: white;
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
}
/*************************************FOOTER************************************/
.footer{
  background-color:#222;
  padding: 20px;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footerlink{
  width: 25%;
}
.footerlink h4 {
  font-size: 20px;
  color: #cba349;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  display: inline-block;
}
.footerlink ul li a{
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255); 
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.footerlink ul li a:hover{
  color: #FFFEDF;
  padding-left: 6px;
}
.social-links a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all .2s ease;
}
.social-links a:hover{
  background-color: #cba349;
}
.mapa{
  width: 250px;
  height: 250px;
}
#copyright{
  text-align: center;
  color:white;
}
