body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color: #ffcd57;*/
    background-image: url('../img/prueba1.jpg'); /*hay 3 tipos de imagenes de prueba, falta elegir*/
    background-size: cover;
    backdrop-filter: blur(5px);
}

#conteiner{
    margin: auto;
    margin-top:14%;
}

a{
    text-decoration: none;
    color:#000000
}

#title {
    color: black; /*white; /* #434343;*/
    font-size: 4vw;
    font-weight: bold;
}

button {
    font-size: 30px;
    padding: 10px 90px;
    margin: 10px;
    border: none;
    border: 3px solid white;
}

button:hover{
    background-color:#9e6730;
    color:white;
    transition-duration: 0.4s;
}

.Si {
    background-color: #cba349;
}

.No {
    background-color: #cba349;
}

#text-end{
    color:black;
    font-size: 15px;
}