body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color: Verde oscuro #005227; o verde olvida claro #94B742*/
    background-image: url('../img/banners/index-background.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
}

#conteiner{
    margin: auto;
    margin-top:10%;
}

a{
    text-decoration: none;
    color:#000000
}

#title {
    color: black; /*white; /* #434343;*/
    font-size: 60px;
    font-weight: bold;
}

button {
    font-size: 30px;
    padding: 10px 20%;
    margin: 10px;
    border: none;
    border: 4px solid white;
    box-shadow: 0px 0px 15px rgb(17, 17, 18);
}

button:hover{
    background-color:#9e6730;
}

.Si {
    background-color: #cba349;
    font-size: 30px;
    margin-top: 30px;
    /*width: 35%;*/
}

.No {
    background-color: #cba349;
    font-size: 30px;
    margin-right: 10px;
    /*width: 35%;*/
}

#text-end{
    color:black;
    font-size: 100%;
}