
body{
    background-color: #FFFEDF;
    
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: "Futura-Heavy";
}

.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFBA69;
    border: 2px solid #3e4147;
    
}

.imagen1{
    display: flex;
    justify-content: right;
    background-color: #5a2e2e;
    margin-right: 200px;
    width: 250px;
}

.txt1{
    font-size: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 200px;
    font-family: "Futura-Heavy";
}

.precio1{
    width: 300px;
    font-size: 50px;
    font-family: "Futura-Heavy";
    align-items: end;
}

.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFBA69;
    border: 2px solid #3e4147;
    
}

.imagen2{
    display: flex;
    justify-content: right;
    background-color: #5a2e2e;
    margin-right: 200px;
    width: 250px;
}

.txt2{
    font-size: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 300px;
    font-family: "Futura-Heavy";
}

.precio2{
    width: 300px;
    font-size: 50px;
    font-family: "Futura-Heavy";
    align-items: end;
}

.contenedor3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFBA69;
    border: 2px solid #3e4147;
    
}

.imagen3{
    display: flex;
    justify-content: right;
    background-color: #5a2e2e;
    margin-right: 200px;
    width: 250px;
}

.txt3{
    font-size: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 300px;
    font-family: "Futura-Heavy";
    
}

.precio3{
    width: 300px;
    font-size: 50px;
    font-family: "Futura-Heavy";
    align-items: end;
}