/****************************************************HEADER**********************************************/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ebebeb;
    font-size: 16px;
}

a {
    color: #cba349;
    text-decoration: none;
    font-size: 22px;
}

ul {
    list-style: none;
}

/* Nav */
.container {
    /*position: fixed; Por el momento no*/
    width: 100%;
    background-color: #222;
    height: 45px;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    display: flex;
    margin-right: 15px;
} 

.right-menu {
    margin-right: 40px;
    margin: 10px;
}

.left-menu {
    flex: 1;
    margin: 10px;
    margin-left: 40px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid white;
} 

.search-bar{
    border: 1;
}

/*Nav products*/
.logo {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 18px;
}

/*opciones al lado del logo*/
.opciones{
    display: flex;
    justify-content: space-between;
    background: #ebebeb;
}

/*opciones lado izquierdo*/
.opciones-izquierda{
    margin-left: 350px;
}

.opciones-izquierda ul{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-izquierda ul a{
    display:block;
    color:#000000;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

.opciones-izquierda ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0
}


.opciones-izquierda ul ul{
    transition: 0.4s;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#FFFEDF;
    padding:0
}

.opciones-izquierda ul ul li{
    float: none;
    width:100px
}

.opciones-izquierda ul ul a{
    line-height:120%;
    padding:10px 15px
}

.opciones-izquierda ul ul ul{
    top:0;
    left:100%
}

.opciones-izquierda ul li:hover > ul{
    display:block
}

/*Opciones lado Derecho*/

.opciones-derecha{
    margin-right:300px;
}

.opciones-derecha ul{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-derecha ul a{
    display:block;
    color:black;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

.opciones-derecha ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-derecha ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#FFFEDF;
    padding:0
}

.opciones-derecha ul ul li{
    float:none;
    width:100px
}

.opciones-derecha ul ul a{
    line-height:120%;
    padding:10px 15px
}

.opciones-derecha ul ul ul{
    top:0;
    left:-100%
}

.opciones-derecha ul li:hover > ul{
    display:block
}
/*Diseño botones*/

/*Contacto*/
.Contacto:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Contacto {
    transition: 0.4s;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Contacto {
    margin-top: 40px;
    padding: 24px;
    text-align: center;

}
.Contacto{
    background: #DFBA69
}

/*Producto*/

.Productos:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Productos {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Productos {
    margin-top: 20px;
    padding: 24px;
    text-align: center;
}
.Productos{
    background:  #DFBA69;
}

/*Ofertas*/

.Ofertas:hover {
    background-color:#9e6730;
    padding: 24px 10px;
}
.Ofertas {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Ofertas {
    padding: 24px;
    text-align: center;
}
.Ofertas{
    background: #DFBA69;
}


/*Indumentaria*/
.Indumentaria:hover {
    background-color:  #9e6730;
    padding: 24px 10px;
}
.Indumentaria {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Indumentaria {
    padding: 24px;
    text-align: center;
}
.Indumentaria{
    background:  #DFBA69;
}

/*Accesorios*/

.Accesorios:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Accesorios {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Accesorios {
    margin-top: 20px;
    padding: 24px;
    text-align: center;

}
.Accesorios{
    background:  #DFBA69;
}

/*Preguntas*/

.Preguntas:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Preguntas {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Preguntas {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
}
.Preguntas{
    background:  #DFBA69;
}

/************************************************MAIN*******************************/
/********************************Listado de Productos*******************************/
body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.product-container {
    max-width: 1500px;
    margin: 50px auto;
    background-color: #ebebeb;
    padding-right: 10px;
    padding-left: 65px;
}

#title {
    color: #333;
    text-align: center;
}

.ul-products {
    list-style: none;
    padding: 0;
    display: flex; /* Cambio aquí para utilizar flexbox */
    flex-wrap: wrap; 
}

.li-products {
    margin-right: 100px; /* Espaciado entre los elementos */
    margin-bottom: 40px;
}

.product-button {
    text-decoration: none;
    color: #5c2f2f;
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.product-button:hover {
    background-color: #5c2f2f;
    color: #fff;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
/***************************Poducto detalle *****************************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-detalle {
    max-width: 1500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedores {
    display: flex;
    flex-wrap: wrap;
}

.img {
    flex: 1;
    margin-right: 20px;
}

.img img {
    max-width: 100%;
    height: auto;
}

.txt {
    flex: 2;
}

.h1-detalle {
    color: #333;
}

.details .txt p {
    margin: 10px 0;
}

.description {
    margin-top: 20px;
}

.h3-detalle {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

#counter {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
}

#buttons-increm-decrem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#buttons-increm-decrem button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

#buttons-increm-decrem button:hover {
    background-color: #0056b3;
}

.button-carrito button {
    text-align: center;
    margin-top: 20px;
}

.delete-button,
.edit-button {
    margin-top: 20px;
}

.delete-button button,
.edit-button a {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.delete-button button:hover,
.edit-button a:hover {
    background-color: #bb2c3b;
}

/* Otros estilos adicionales pueden ser necesarios según tus preferencias y requisitos */


/***************************Carrousel de cervezas*****************************/

body {
    background: #ebebeb;
    font-size: 16px;
}

.Nuestros-productos{
    text-align: center;
    margin-bottom: 15px;
}
.carrusel{
    background-color: #ebebeb;
    display: flex;
    overflow-x: scroll;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.item-carrusel{
    margin: 10px;
    background-color: white;
}
.img-carrusel{ 
    max-width: 200px;
    max-height: 200px;
    background-color: white;
}
.name-carrusel{
    background-color: white;
}
.price-carrusel{
    color:#cba349;
    font-weight: bold;
    background-color: white
}
.data-cerveza{
    background-color: white;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

/*************************************FOOTER************************************/
.footer{
    background-color:#222;
    padding: 20px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footerlink{
    width: 25%;
}
.footerlink h4 {
    font-size: 20px;
    color: #cba349;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}
.footerlink ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footerlink ul li a:hover{
    color: #FFFEDF;
    padding-left: 6px;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .2s ease;
}
.social-links a:hover{
    background-color: #cba349;
}
.mapa{
    width: 250px;
    height: 250px;
}
#copyright{
    text-align: center;
    color:white;
}
