/****************************************************HEADER**********************************************/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ebebeb;
    font-size: 16px;
}

a {
    color: #cba349;
    text-decoration: none;
    font-size: 22px;
}

ul {
    list-style: none;
}

/* Nav */
.container {
    /*position: fixed; Por el momento no*/
    width: 100%;
    background-color: #222;
    height: 45px;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    display: flex;
    margin-right: 15px;
} 

.right-menu {
    margin-right: 40px;
    margin: 10px;
}

.left-menu {
    flex: 1;
    margin: 10px;
    margin-left: 40px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid white;
} 

.search-bar{
    border: 1;
}

/*Nav products*/
.logo {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 18px;
}

/*opciones al lado del logo*/
.opciones{
    display: flex;
    justify-content: space-between;
    background: #ebebeb;
}

/*opciones lado izquierdo*/
.opciones-izquierda{
    margin-left: 350px;
}

.opciones-izquierda ul{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-izquierda ul a{
    display:block;
    color:#000000;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

.opciones-izquierda ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0
}


.opciones-izquierda ul ul{
    transition: 0.4s;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#FFFEDF;
    padding:0
}

.opciones-izquierda ul ul li{
    float: none;
    width:100px
}

.opciones-izquierda ul ul a{
    line-height:120%;
    padding:10px 15px
}

.opciones-izquierda ul ul ul{
    top:0;
    left:100%
}

.opciones-izquierda ul li:hover > ul{
    display:block
}

/*Opciones lado Derecho*/

.opciones-derecha{
    margin-right:300px;
}

.opciones-derecha ul{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-derecha ul a{
    display:block;
    color:black;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
}

.opciones-derecha ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

.opciones-derecha ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#FFFEDF;
    padding:0
}

.opciones-derecha ul ul li{
    float:none;
    width:100px
}

.opciones-derecha ul ul a{
    line-height:120%;
    padding:10px 15px
}

.opciones-derecha ul ul ul{
    top:0;
    left:-100%
}

.opciones-derecha ul li:hover > ul{
    display:block
}
/*Diseño botones*/

/*Contacto*/
.Contacto:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Contacto {
    transition: 0.4s;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Contacto {
    margin-top: 40px;
    padding: 24px;
    text-align: center;

}
.Contacto{
    background: #DFBA69
}

/*Producto*/

.Productos:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Productos {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Productos {
    margin-top: 20px;
    padding: 24px;
    text-align: center;
}
.Productos{
    background:  #DFBA69;
}

/*Ofertas*/

.Ofertas:hover {
    background-color:#9e6730;
    padding: 24px 10px;
}
.Ofertas {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Ofertas {
    padding: 24px;
    text-align: center;
}
.Ofertas{
    background: #DFBA69;
}


/*Indumentaria*/
.Indumentaria:hover {
    background-color:  #9e6730;
    padding: 24px 10px;
}
.Indumentaria {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Indumentaria {
    padding: 24px;
    text-align: center;
}
.Indumentaria{
    background:  #DFBA69;
}

/*Accesorios*/

.Accesorios:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Accesorios {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Accesorios {
    margin-top: 20px;
    padding: 24px;
    text-align: center;

}
.Accesorios{
    background:  #DFBA69;
}

/*Preguntas*/

.Preguntas:hover {
    background-color: #9e6730;
    padding: 24px 10px;
}
.Preguntas {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 3px;
}
.Preguntas {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
}
.Preguntas{
    background:  #DFBA69;
}


/*////////////////////////HASTA AQUI ES EL HEADER////////////////////////////////*/

/*******************************************MAIN LOGIN****************************/
main {
    text-align: center;
    font-size: 17px;
}

.title{
    color: #434343;
    font-size: 38px;
    font-weight: bold;
    margin: 20px;    
}

#text-user-password{
    margin:15px;
    font-size: 15px;
}

#div-user{
    margin: 15px;
}

#div-password input{
    width: 20%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid #434343;
    color: #434343;
}
#div-user input{
    width: 20%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid #434343;
    color: #434343;
}

#remember-user-password{
    text-align: center;
    margin: 15px;
    font-size: 14px;
}

#forgot-password{
    font-size: 14px;
    font-weight: bold;
}

#create-account{
    font-size: 14px;
    font-weight: bold;
}

button{
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    background-color:#DFBA69;
    color: #000;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    padding: 15px;
    border-radius: 10px;
}

button:hover{
    background-color:#9e6730;
    color:white;
}

/****************************MAIN RESTABLECER CLAVE******************************/


.texto{
    margin: 0 auto;
    width: 35%;
    font-size: 15px;
    margin-bottom: 20px;
}

form div input{
    /*width: 20%;*/
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid #434343;
    color: #434343;
}

#ingresar{
    font-size: 15px;
    font-weight: bold;
}
/*********************************MAIN REGISTRO ******************************************/


.controls input{
    width: 98%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    border: 1px solid #434343;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
}

.formRegister{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    color: #434343;
}

.formRegister h2{
    text-align: center;
    font-size: 38px;
}

#name{
    width: 48%;
    
}

#last-name{
    width: 48%;
    margin-inline: 5px;
}

.formRegister p{
    height: 20px;
    font-size: 14px;
    color: #1f1f1f;
}

.login{
    color: #434343;
    font-size: 13px;
    margin-left: 2px;
}

.login:hover{
    color: black;
    text-decoration: underline;
}

.user-profile p{
    font-size: 16px;
    margin-bottom: 5px;
}

.user-profile input{
    display: none;
}

.user-profile label{
    background-color: white;
    width: 48%;
    position: relative;
    color: #753c3c;
    font-size: 14px;
    border: 2px solid #753c3c;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    margin-left: 100px;
}

.user-profile label:before{
    content: "";
    height: 10px;
    width: 10px;
    border: 3px solid #753c3c;
    border-radius: 50%;
    margin-right: 20px;
}

.user-profile input:checked + label{
    background-color: #753c3c;
    color: white;
}

.user-profile input:checked + label:before{
    height: 5px;
    width: 5px;
    border: 5px solid white;
    background-color: #753c3c;
}

.img-user p{
    font-size: 16px;
    margin-bottom: 5px;
}

.img-user input{
    display: none;
}

.img-user label{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background-color: #753c3c;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 6px;
    width: 48%;
    /*margin-left: 100px;*/
}

.img-user label:hover{
    background-color: #5A2E2E;
}

/*********BOTONES*************/

.buttons{
    margin-top: 20px;
}

.formRegister button{
    width: 98%;
    background-color: #753c3c;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: #efefef;
    font-size: 17px;
}

.formRegister button:hover{
    background-color:  #a05151;
}

.formRegister .separador{
    text-align: center;
    font-size: 17px;
}

.formRegister .Google{
    margin-top: 10px;
    width: 98%;
    background-color: #DFBA69;
    color: #434343;
    font-size: 17px;
}

.formRegister .Google:hover{
    background-color: #f1cf85;
}

/*************************************FOOTER************************************/
.footer{
    background-color:#222;
    padding: 20px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footerlink{
    width: 25%;
}
.footerlink h4 {
    font-size: 20px;
    color: #cba349;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}
.footerlink ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footerlink ul li a:hover{
    color: #FFFEDF;
    padding-left: 6px;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .2s ease;
}
.social-links a:hover{
    background-color: #cba349;
}
.mapa{
    width: 250px;
    height: 250px;
}
#copyright{
    text-align: center;
    color:white;
}
